<h2 class="text-center my-5"> Employees</h2>
<div class="card">


    <div class="card-header">
        <p class="fs-5">OverView</p>
    </div>
<div class="card-body">
    <table class="table table-hover">
    <thead>
        <tr>
           <th>Id</th>
           <th>FirstName</th>
           <th>LastName</th>
           <th>Phone</th>
           <th>Email</th>
           <th>Position</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employees of employees">
            <td> {{employees.id}}</td>
            <td> {{employees.firstName}}</td>
            <td> {{employees.lastName}}</td>
            <td> {{employees.phone}}</td>
            <td> {{employees.email}}</td>
            <td> {{employees.position}}</td>
            <td>
                <button class="btn btn-primary btn-sm m-2" (click)="editEmployee(employees.id)">Edit</button>
                <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employees.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>